.home-banner {
    background: url('/img/badge-banner.png')
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 300px;
}

.badge-text {
    position: absolute;
    top: 0px;
    left: 45%;
    right: 45%;
    width: 130px;
    font-size: 26px;
}

.badge-text > p {
    position: inherit;
}

.gold-text {
    font-family: "Alegreya", serif;
    font-style: italic;
    font-size: 3rem;
    word-spacing: 0.1em;
    display: inline-block;
    padding: 0;
    line-height: 1;
    white-space: nowrap;
    color: transparent;
    background-color: #E8A95B;
    background-image: radial-gradient(ellipse farthest-corner at right bottom, white 0%, #F0BB7A 20%, #E8A95B 60%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, white 0%, #F0BB7A 50%, #DE9945 75%, #E8A95B 100%);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    margin: 0 0 0.5rem 0;
    width: 100%;
}

#break1 {
    display: none;
}

#break2 {
    display: none;
}

@media(max-width:1400px){
    .gold-text {
        font-family: "Alegreya", serif;
        font-style: italic;
        font-size: 2rem;
        word-spacing: 0.1em;
        display: inline-block;
        padding: 0;
        line-height: 1;
        white-space: nowrap;
        color: transparent;
        background-color: #E8A95B;
        background-image: radial-gradient(ellipse farthest-corner at right bottom, white 0%, #F0BB7A 20%, #E8A95B 60%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, white 0%, #F0BB7A 50%, #DE9945 75%, #E8A95B 100%);
        background-size: 100% 100%;
        background-clip: text;
        -webkit-background-clip: text;
        margin: 0 0 0.5rem 0;
        width: 100%;
    }
}

@media(max-width:800px){
    .gold-text {
        font-family: "Alegreya", serif;
        font-style: italic;
        font-size: 2rem;
        word-spacing: 0.1em;
        display: block;
        padding: 0;
        line-height: 1;
        white-space: nowrap;
        color: transparent;
        background-color: #E8A95B;
        background-image: radial-gradient(ellipse farthest-corner at right bottom, white 0%, #F0BB7A 20%, #E8A95B 60%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, white 0%, #F0BB7A 50%, #DE9945 75%, #E8A95B 100%);
        background-size: 100% 100%;
        background-clip: text;
        -webkit-background-clip: text;
        margin: 0 0 0.5rem 0;
        width: 100%;
        text-wrap: normal;
    }
    #break1 {
        display: block;
    }
    #break2 {
        display: block;
    }
}