<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-2">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0">
                <img src="/img/largeLogo.png" height="35" alt="Logo" loading="lazy" aria-controls="#picker-editor">
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/" aria-controls="#picker-editor">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" aria-controls="#picker-editor">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact" aria-controls="#picker-editor">Contact</a>
                </li>
                <!-- Dropdown -->
                
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Icon -->
            <a href="https://www.linkedin.com/company/metal-weld-specialties-inc-/about/"
               target="_blank" class="text-reset me-3">
                <img src="/img/linkedin.png" height="25" width="25" alt="azutracs">
            </a>
            <a href="https://www.zoominfo.com/c/metal--weld-specialties-inc/57640614"
               target="_blank" class="text-reset me-3">
                <img src="/img/zoomInfo.png" height="20" width="20" alt="azutracs">
            </a>
            <a href="https://www.mapquest.com/us/arizona/metal-weld-specialties-402288189"
               target="_blank" class="text-reset me-3">
                <img src="/img/mapQuest.png" height="25" width="25" alt="azutracs">
            </a>
            <a href="https://www.yellowpages.com/peoria-az/mip/metal-weld-specialties-inc-6589598"
               target="_blank" class="text-reset me-3">
                <img src="/img/yellowPages.png" height="20" width="20" alt="azutracs">
            </a>
            <a href="https://utracstest.azdot.gov/FirmProfile?bidderId=16152"
               target="_blank" class="text-reset me-3">
                <img src="/img/azutracs.png" height="20" width="20" alt="azutracs">
            </a>
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav> <!-- Navbar -->