<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') -%>

<body>
<!-- Start your project here-->

<div id="preview" class="preview">
    <div style="display: none;"></div>
    <div>
        <div data-draggable="true" style="position: relative;">
            <!----><!---->
            <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
                <section class="" style="padding-bottom: 1px;">
                    <%- include('partials/navBar') -%>
            </section>
            </section>
            <!---->
        </div>

        <div class="container my-5 py-5" itemid="contact us">
            <h1 class="display-4 fw-bold text-center mb-3" itemref="contact page">Metal-Weld Specialties Headlines</h1>

            { SINLGE POST }

        </div>
    </div>
</div>

<!-- End your project here-->
<!-- Footer -->
<%- include('partials/footer') -%>
<!-- Footer -->
<%- include('partials/scipts') -%>
</body>

</html>
